<span style="display:inline-block;" class="control">
    <span class="tags has-addons">
      <span class="tag {{if disciplina.nc 'is-warning' 'is-info'}}">
        {{disciplina.nome}}
      </span>
      <span class="tag is-success">{{exibe-eixo disciplina.eixo}}</span>
      <span class="tag is-light">{{disciplina.ch}}</span>
    </span>
</span>
