<div class="container is-widescreen">

  <p class="title is-4">Núcleo Comum</p>

  {{#curriculo-filter filter=(action 'totalDeSemestres') as |total|}}

    {{#each total as |semestre|}}
      <div class="columns">

        <div class="column is-1">
          <span class="tag is-dark">{{semestre}}</span>
        </div>

        <div class="column is-11">
          {{#curriculo-filter filter=(action 'filtraPorSemestre' semestre) as |disciplinas|}}
            {{#each disciplinas as |disciplina|}}
              {{#if disciplina.obr}}
                <span class="tag {{if disciplina.nc 'is-primary' 'is-danger'}}">{{disciplina.nome}}</span>
              {{/if}}
            {{/each}}
          {{/curriculo-filter}}
        </div>
        <br>

      </div>

    {{/each}}

  {{/curriculo-filter}}

</div>