<section class="section">
  <p class="title is-4">Núcleo Comum</p>
  Explicar o que são os núcleos e agrupar por eles.

  <h1>Primeiro</h1>
  {{#curriculo-filter
    filter=(action 'filtraPorSemestre' 1) as |disciplinas|}}
    {{#each disciplinas as |disciplina|}}
      <span class="tag is-primary">{{disciplina.nome}}</span>
    {{/each}}
  {{/curriculo-filter}}

  <h1>Segundo</h1>
  {{#curriculo-filter
    filter=(action 'filtraPorSemestre' 2) as |disciplinas|}}
    {{#each disciplinas as |disciplina|}}
      <span class="tag is-primary">{{disciplina.nome}}</span>
    {{/each}}
  {{/curriculo-filter}}

</section>
