
<section class="section">
  <div class="content">

    <div class="tile is-ancestor">
      <div class="tile is-5 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="subtitle">Objetivo</p>
          <p>
            Formar <em>profissionais</em> aptos a contribuir efetivamente com a
            produção de <em>software</em> de qualidade seguindo princípios
            <em>éticos</em> e <em>postura</em> profissional.
          </p>
          <nav class="level is-mobile">
            <div class="level-left">
              {{#link-to 'intro.apresentacao'}}
                <a class="level-item">
                  <em>Objetivos específicos...</em>
                </a>
              {{/link-to}}
            </div>
          </nav>
        </div>
        <div class="tile is-child box">
          <p class="title">Two</p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="subtitle">Apresentação</p>
          <p>O curso de Bacharelado em Engenharia de Software (BES) é oferecido
            pelo Instituto de Informática (INF) da Universidade Federal de
            Goiás (UFG). A primeira versão do Projeto Pedagógico do Curso (PPC)
            foi criada em 2008, a segunda versão, aqui apresentada,
            é fruto de uma reflexão de dois anos do Núcleo Docente Estruturante
            NDE), que reinventou o BES.</p>
          <nav class="level is-mobile">
            <div class="level-left">
              {{#link-to 'intro.apresentacao'}}
                <a class="level-item">
                  <em>Saiba mais...</em>
                </a>
              {{/link-to}}
            </div>
          </nav>
        </div>
      </div>
    </div>

  </div>

</section>