
<section class="section">
  <div class="subtitle is-3">
    Objetivo geral
  </div>
  <div class="content">
    Formar profissionais aptos a contribuir efetivamente com a produção de
    softwares de qualidade seguindo princípios éticos e postura profissional.
  </div>

  <div class="subtitle is-3">
    Objetivos específicos
  </div>

  <div class="content">
    <ul>
      <li>Reconhecer e valorizar o respeito à diversidade. Conforme se lê na Constituição Federal em seu Art. 3.º, inciso IV: “promover o bem de todos, sem preconceitos de origem, raça, sexo, cor, idade e quaisquer outras formas de discriminação”.</li>
      <li>Promover relações étnico-raciais respeitosas, assim como a socialização da história da formação dos brasileiros.</li>
      <li>Ampliar a compreensão acerca de questões ambientais e, ao mesmo tempo, valorizar projetos sustentáveis.</li>
      <li>Contribuir com a demanda da sociedade por softwares de qualidade.</li>
      <li>Conceber e desenvolver produtos inovadores.</li>
      <li>Promover a engenharia de software na indústria de software regional.</li>
      <li>Viabilizar atividade econômica de alto valor (produção de software).</li>
      <li>Criar alternativa econômica para o Estado de Goiás.</li>
      <li>Fortalecer a indústria de software goiana.</li>
    </ul>
  </div>

</section>