<section class="section">

  <div class="subtitle is-3">
    Perfil do egresso
  </div>

  <div class="content">
    <p>O egresso do BES é um profissional com capacitação sólida em engenharia
      de software. Essa capacitação advém de formação básica consistente em
      computação e de abrangente e aprofundada em engenharia de software.</p>

    <p>O mercado de atuação do egresso é abrangente, e decorre da dependência da
      sociedade por software. Adicionalmente, tal dependência tem se expandido
      com novos produtos, serviços e processos.</p>

    <p>A bacharela ou o bacharel em Engenharia de Software é capaz de
      efetivamente contribuir com equipes na produção de modelos abstratos de
      software e realizá-los por meio de código de qualidade. Essa contribuição
      é pautada por postura profissional e conduta ética.</p>

    <p>As habilidades do egresso incluem o que é necessário para lidar com
      requisitos de software, propor uma solução (software design), construí-la,
      testá-la e mantê-la, usando processos adequados.</p>
  </div>

  <div class="subtitle is-3">
    Habilidades do egresso
  </div>

  <div class="content">
    Da perspectiva de relações pessoais, o egresso deve ser capaz de:
    <ul>
      <li>Participar de forma harmoniosa, profissional e ética durante a
        elaboração de produtos de software atribuídos a equipes.
      </li>
      <li>Liderar ação contínua de formação de sua própria reputação na área.
      </li>
      <li>Participar da comunicação de ideias com clareza, seja na forma verbal
        ou escrita.
      </li>
    </ul>

    Da perspectiva técnica, o egresso deve ser capaz de:
    <ul>
      <li>Participar de atividades para eliciar, analisar, especificar, validar
        e gerenciar requisitos de software.
      </li>
      <li>Participar da definição da solução de software que atende requisitos,
        ou seja, da definição da arquitetura e do projeto detalhado desse
        software.
      </li>
      <li>Participar da elaboração de modelos de análise e de projeto (design)
        de software.
      </li>
      <li>Participar da aplicação de técnicas de projeto ao desenvolver
        softwares concorrentes, distribuídos, orientados a objetos, orientados a
        eventos e que implementam a persistência de dados.
      </li>
      <li>Participar da avaliação de design de software considerando, dentre
        outros quesitos: abstração, coesão, acoplamento e encapsulamento.
      </li>
      <li>Participar da aplicação de técnicas de tratamento de exceção e
        tolerância a falhas.
      </li>
      <li>Auxiliar a escolha de processo e de metodologia de design de
        software.
      </li>
      <li>Auxiliar a revisão de design de software.</li>
      <li>Participar do emprego de estilos, visões, modelos e padrões de
        arquitetura de software.
      </li>
      <li>Participar do projeto de componentes e módulos de software usando
        modelos, padrões de projeto e notações.
      </li>
      <li>Auxiliar a execução de análise estática.</li>
      <li>Auxiliar a escolha de processos e modelos apropriados para a
        construção de software.
      </li>
      <li>Auxiliar a escolha de linguagens e ferramentas apropriadas para a
        construção de software.
      </li>
      <li>Auxiliar a escolha de frameworks, plataformas e ambientes de
        construção de construção de software.
      </li>
      <li>Participar da construção de software seguindo padrões de gerência de
        configuração e controle de versão.
      </li>
      <li>Participar da coleta e do monitoramento de medidas de qualidade de
        código.
      </li>
      <li>Participar da criação de design detalhado que minimiza a complexidade
        e melhora a qualidade.
      </li>
      <li>Participar da criação de código que implementa projetos detalhados.
      </li>
      <li>Indicar o uso de padrões de projeto.</li>
      <li>Participar da refatoração (refactoring) de código.</li>
      <li>Participar da construção de software que segue padrões de código.</li>
      <li>Participar da construção de software que faz uso de técnicas de
        codificação defensiva.
      </li>
      <li>Participar da geração de código a partir de modelos de projeto.</li>
      <li>Participar do uso apropriado de ferramentas e técnicas de depuração.
      </li>
      <li>Participar da criação de testes de unidade.</li>
      <li>Participar da construção de software que satisfaz objetivos de
        cobertura de testes.
      </li>
      <li>Participar da construção de software que segue estratégias e processos
        de integração e implantação.
      </li>
      <li>Participar da construção e realização de testes de integração.</li>
      <li>Participar da construção de software em equipe ao colaborar com outros
        membros da equipe.
      </li>
      <li>Participar de revisões e inspeções.</li>
      <li>Participar da elaboração e implementação de planos de testes.</li>
      <li>Participar da definição de um ambiente de teste e da correspondente
        implementação.
      </li>
      <li>Participar da identificação, design e implementação de testes.</li>
      <li>Participar da elaboração de relatórios de testes.</li>
      <li>Auxiliar a elaboração e execução de plano de transição de software.
      </li>
      <li>Auxiliar a elaboração e execução de planos de manutenção de
        software.
      </li>
      <li>Auxiliar a execução de atividades de processos de software.</li>
      <li>Auxiliar a definição e personalização de processos de software.</li>
      <li>Auxiliar a implementação e execução de processos de software.</li>
      <li>Auxiliar a coleta de dados para avaliação de processos de software.
      </li>
      <li>Auxiliar a definição e o desenvolvimento de software que satisfaz
        objetivos e atributos de qualidade.
      </li>
      <li>Auxiliar a identificação de medidas de qualidade apropriadas.</li>
      <li>Auxiliar a elaboração de planos e revisões de qualidade.</li>
      <li>Participar da construção de software que segue princípios recomendados
        para segurança de código.
      </li>
      <li>Participar da construção de software que segue um plano de gerência de
        configuração de software.
      </li>
      <li>Participar da documentação de software.</li>
    </ul>
  </div>

</section>