.requisito::before {
  counter-increment: requisitos;
  content: "REQ" counter(requisitos) " \A";
  color: blue;
  white-space: pre;
  line-height: 25px;
}

.requisito {
  font-family: monospace;
  margin-top: 10px;
  width: 500px;
  padding: 10px;
  background-color: aliceblue;
}

body {   
  counter-reset: requisitos;
}

.disciplina {
  border: 1px solid lightgray;
  margin: 10px 0 10px 0;
  padding: 10px;
}

.disciplina-nome {
  font-size: 1.2em;
}

.disciplina-detalhe {
  font-size: .9em;
  font-family: 'Karla', sans-serif;
  color: gray;
}

.disciplina-rotulo {
  font-family: 'Arial';
  font-size: .7em;
  font-weight: normal;
  margin-top: 10px;
}

.disciplina-ementa, .disciplina__bibliografia, .disciplina__condicoes {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.disciplina-nome {
  font-family: 'Karla', sans-serif;
  color: #34748C;
  font-size: 20px;
}