
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Engenharia de Software
      </h1>
      <h2 class="subtitle">
        Formando profissionais para a produção de software de qualidade.
      </h2>
    </div>
  </div>
</section>

{{outlet}}