<nav class="navbar" role="navigation" aria-label="barra principal de navegação">
  <div class="navbar-brand">
    <a class="navbar-item" href=".">
      <img src="assets/es-logo.png" alt="Marca do curso de Engenharia de Software">
    </a>
    <a class="navbar-item" href="https://github.com/kyriosdata/bes">
      {{fa-icon "github"}}
    </a>
    <button class="button navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</nav>

<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Bacharelado em Engenharia de Software
      </h1>
      <h2 class="subtitle">
        Formando profissionais para criar software de excelência.
      </h2>
    </div>
  </div>
</section>

{{outlet}}