<nav class="navbar" role="navigation" aria-label="barra principal de navegação">
  <div class="navbar-brand">
    {{#link-to 'intro' class='navbar-item'}}
      <figure>
        <img src="{{myRootURL}}assets/es-logo.png"
             alt="Marca do curso de Engenharia de Software">
      </figure>
    {{/link-to}}
    {{#link-to 'info' class='navbar-item'}}
      {{fa-icon "info"}}
    {{/link-to}}
    {{#link-to 'premios' class='navbar-item has-text-warning'}}
      {{fa-icon "certificate"}}
    {{/link-to}}
    <button class="button navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</nav>

<div>
  {{outlet}}
</div>