
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Engenharia de Software
      </h1>
      <h2 class="subtitle">
        Formando profissionais para criar software de excelência.
      </h2>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8">
            <div class="columns is-centered">
              <div class="column is-4">
                ESQUERDA
              </div>
              <div class="column is-4">
                DIREITA
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>


{{outlet}}