<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Currículo
      </h1>
      <h2 class="subtitle">
        Organização das disciplinas
      </h2>
    </div>
  </div>
</section>

<section class="section">

  {{#each model as |disciplina|}}
    <a style="max-width: 450px; display:inline-block; margin-right:10px;" class="box">
      <p class="title is-6">{{disciplina.nome}}</p>
      <p class="subtitle is-7">{{disciplina.eixo}}</p>
    </a>
  {{/each}}

</section>

{{outlet}}