<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Currículo
      </h1>
      <h2 class="subtitle">
        Organização das disciplinas
      </h2>
    </div>
  </div>
</section>

<!-- Aqui: menu de índices e busca por palavra -->
<!-- Opção 1: todas
           Seguem por semestre (vertical)
-->
<!-- Segue o índice já conforme a opção do menu -->
<!-- segue a descrição da disciplina selecionada -->

<section class="section">
<p class="title is-4">Núcleo Comum</p>

  {{#each model as |disciplina|}}
      <span class="tag">{{disciplina.nome}}</span>
  {{/each}}

</section>

{{outlet}}