<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Currículo
      </h1>
      <h2 class="subtitle">
        Organização das disciplinas
      </h2>
    </div>
  </div>
</section>

<!-- Aqui: menu de índices e busca por palavra -->
<!-- Opção 1: todas
           Seguem por semestre (vertical)
           primeiro seguido do segundo, ...

     Opção 2: núcleo
           Núcleo livre inicialmente selecionado
           Quando alterna para NE, apenas NE é exibido

     Opção 3: Eixo
           Eixo matemática inicialmente selecionado
           APenas disciplina do eixo selected exibidas

     Opção 4: palavra busca restringe disciplinas
           que contém a palavra

     Opção 5: lista
            Pode-se alterar a ordem da lista por:
            semestre, alfabética, eixo
-->
<!-- Segue o índice já conforme a opção do menu -->
<!-- segue a descrição da disciplina selecionada -->

<section class="section">
<p class="title is-4">Núcleo Comum</p>

  {{#each model as |disciplina|}}
      <span class="tag">{{disciplina.nome}}</span>
  {{/each}}

</section>

<div class="container">
  <div class="notification">
    <span class="tag is-dark">1</span>&nbsp;
    <span class="tag is-white">Prática em Engenharia de Software</span>
    <span class="tag">Prática em Engenharia de Software</span>
    <span class="tag">Prática em Engenharia de Software</span>
    <span class="tag">Prática em Engenharia de Software</span>
  </div>
</div>

<div class="container">
  &nbsp;&nbsp;&nbsp;<span class="tag is-dark">2</span>&nbsp;
  <span class="tag">Prática em Engenharia de Software</span>
  <span class="tag">Prática em Engenharia de Software</span>
  <span class="tag">Prática em Engenharia de Software</span>
  <span class="tag">Prática em Engenharia de Software</span>
</div>

<div class="container">
    &nbsp;&nbsp;&nbsp;<span class="tag is-dark">3</span>&nbsp;
    <span class="tag">Prática em Engenharia de Software</span>
    <span class="tag">Prática em Engenharia de Software</span>
    <span class="tag">Prática em Engenharia de Software</span>
    <span class="tag">Prática em Engenharia de Software</span>
</div>

{{outlet}}