<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Currículo
      </h1>
      <h2 class="subtitle">
        Organização das disciplinas
      </h2>
    </div>
  </div>
</section>

<!-- Aqui: menu de índices e busca por palavra -->
<!-- Opção 1: todas
           Seguem por semestre ou fluxo (vertical)
           primeiro seguido do segundo, ...

     Opção 2: núcleo
           Núcleo livre inicialmente selecionado
           Quando alterna para NE, apenas NE é exibido

     Opção 3: Eixo
           Eixo matemática inicialmente selecionado
           APenas disciplina do eixo selected exibidas

     Opção 4: palavra busca restringe disciplinas
           que contém a palavra

     Opção 5: lista
            Pode-se alterar a ordem da lista por:
            semestre, alfabética, eixo
-->
<!-- Segue o índice já conforme a opção do menu -->
<!-- segue a descrição da disciplina selecionada -->

<div class="tabs is-centered">
  <ul>
    <li class="is-active">{{#link-to 'curriculo.fluxo'}}Fluxo{{/link-to}}</li>
    <li>{{#link-to 'curriculo.nucleo'}}Núcleo{{/link-to}}</li>
    <li>{{#link-to 'curriculo.eixo'}}Eixo{{/link-to}}</li>
    <li>{{#link-to 'curriculo.lista'}}Lista{{/link-to}}</li>
  </ul>
</div>

{{outlet}}