<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Currículo
      </h1>
      <h2 class="subtitle">
        Organização das disciplinas
      </h2>
    </div>
  </div>
</section>

{{outlet}}