
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        História
      </h1>
      <h2 class="subtitle">
        Contexto da criação do curso
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="content">
    <p>O Instituto de Informática <a href="http://www.inf.ufg.br">{{fa-icon "external-link"}}</a>
      (UFG) criou o Bacharelado em Engenharia de Software
      em 2008.</p>
  </div>
</section>
