<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Bacharelado em Engenharia de Software
      </h1>
      <h2 class="subtitle">
        Formando profissionais para criar software de excelência.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="content">
    Esse projeto apresenta o curso de Bacharelado em Engenharia de Software
    oferecido pelo Instituto de Informática (UFG), e o melhor começo é
    deixar claro o objetivo:
    <div class="tile is-ancestor">
      <div class="tile is-5 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="subtitle">Objetivo</p>
          <p>
            Formar <em>profissionais</em> aptos a contribuir efetivamente com a
            produção de <em>software</em> de qualidade seguindo princípios
            <em>éticos</em> e <em>postura</em> profissional.
          </p>
        </div>
        <div class="tile is-child box">
          <p class="title">Two</p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="subtitle">Apresentação</p>
          <p>O curso de Bacharelado em Engenharia de Software (BES) é oferecido
            pelo Instituto de Informática (INF) da Universidade Federal de
            Goiás (UFG). A primeira versão do Projeto Pedagógico do Curso (PPC)
            foi criada em 2008, a segunda versão, registrada nesse documento,
            é fruto de uma reflexão de dois anos do Núcleo Docente Estruturante
            NDE), que reinventou o BES.</p>
        </div>
      </div>
    </div>

    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">

      </div>
    </div>

    <h4>Missão</h4>
  </div>
</section>