<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Bacharelado em Engenharia de Software
      </h1>
      <h2 class="subtitle">
        Formando profissionais para criar software de excelência.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="content">
    Esse projeto apresenta o curso de Bacharelado em Engenharia de Software
    oferecido pelo Instituto de Informática (UFG), e o melhor começo é
    deixar claro o objetivo:

    <blockquote>
      Formar <em>profissionais</em> aptos a contribuir efetivamente com a
      produção de <em>software</em> de qualidade seguindo princípios
      <em>éticos</em> e <em>postura</em> profissional.
    </blockquote>

    <h4>Missão</h4>
  </div>
</section>