<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Bacharelado em Engenharia de Software
      </h1>
      <h2 class="subtitle">
        Formando profissionais para criar software de excelência.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <p>Criado em 2008 pelo Instituto de Informática
    (UFG), recebeu nota máxima do MEC e desde então
    nota máxima pelo Guia dos Estudantes da Editora
    Abril.</p>
</section>