<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Bacharelado em Engenharia de Software
      </h1>
      <h2 class="subtitle">
        Formando profissionais para criar software de excelência.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="content is-medium">
    <h2>Objetivo</h2>

    <h2>Missão</h2>
  </div>
</section>