
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Prêmios e Avaliações
      </h1>
      <h2 class="subtitle">
        Resultados das avaliações do curso.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <p>O curso já recebeu uma visita do MEC e, na ocasião,
  recebeu a nota máxima. Situação semelhante ocorre com
  a avaliação do Guia dos Estudantes desde 2015.</p>
</section>