
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Prêmios e Avaliações
      </h1>
      <h2 class="subtitle">
        Resultados das avaliações do curso.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <h3 class="subtitle is-3">Ministério da Educação (MEC)</h3>
  <p>Em 2015 o curso recebeu a comissão de avaliadores do
  MEC e a nota foi máxima.</p>

  <p><img src="assets/selo-mec.png" alt=""></p>

  <h3 class="subtitle is-3">Guia dos Estudantes</h3>
  <p>O Guia dos Estudantes é um instrumento amplamente
    empregado pelos estudantes que desejam acesso às
    universidades no Brasil. Desde 2015 o curso é
    avaliado por este guia, onde obteve nota máxima
    em todas elas.</p>

  <img src="assets/selo-ge-2015.png" alt="">
  <img src="assets/selo-ge-2016.png" alt="">
  <img src="assets/selo-ge-2017.png" alt="">
</section>