<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Prêmios e Avaliações
      </h1>
      <h2 class="subtitle">
        Resultados das avaliações do curso.
      </h2>
    </div>
  </div>
</section>

<section class="hero is-info">
  <div class="hero-body">
    <div class="container has-text-centered is-size-5">
      <div class="title">Nota máxima em todas as avaliações!</div>
      <div class="subtitle">Tanto pelo Ministério da Educação(MEC) quanto pelo Guia dos Estudantes</div>
    </div>
  </div>
</section>

<section class="section">
  <div class="content">

    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image">
            <img src="assets/selo-mec.png" alt="">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>2014</strong>
              <br>
              Ministério da Educação (MEC)
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-check"></i></span>
              </a>
            </div>
          </nav>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image">
            <img src="assets/selo-ge-2015.png" alt="">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>2015</strong>
              <br>
              Guia dos Estudantes
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-check"></i></span>
              </a>
            </div>
          </nav>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-left">
          <a target="_blank"
             href="http://gevestibular.abril.com.br/ge/selos_ge2016.asp?CursoGraduacaoID=265316&opid=395862">
            <figure class="image">
              <img src="assets/selo-ge-2016.png" alt="">
            </figure>
          </a>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>2016</strong>
              <br>
              Guia dos Estudantes
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-check"></i></span>
              </a>
            </div>
          </nav>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-left">
          <a target="_blank"
             href="http://gevestibular.abril.com.br/ge/selos_ge2017.asp?CursoGraduacaoID=265316&opid=395862">
            <figure class="image">
              <img src="assets/selo-ge-2017.png" alt="">
            </figure>
          </a>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>2017</strong>
              <br>
              Guia dos Estudantes
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-check"></i></span>
              </a>
            </div>
          </nav>
        </div>
      </article>
    </div>
  </div>
</section>