.requisito::before {
  counter-increment: requisitos;
  content: "REQ" counter(requisitos) " \A";
  color: blue;
  white-space: pre;
  line-height: 25px;
}

.requisito {
  font-family: monospace;
  margin-top: 10px;
  width: 500px;
  padding: 10px;
  background-color: aliceblue;
}

body {   
  counter-reset: requisitos;
}

.disciplina {
  margin: 20px;
}

.disciplina-nome {
  font-size: 1.1em;
}

.disciplina-detalhe {
  font-size: .9em;
}

.disciplina-rotulo {
  font-size: .8em;
  font-weight: bold;
  margin-top: 10px;
}
